*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
pcd/scene0000_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0001_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0001_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0002_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0003_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0004_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0004_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0005_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0005_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0006_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0007_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0007_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0007_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0008_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0009_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0009_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0009_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0010_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0010_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0011_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0012_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0012_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0012_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0013_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0014_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0014_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0015_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0016_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0017_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0018_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0018_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0019_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0020_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0021_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0022_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0022_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0023_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0023_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0024_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0024_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0024_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0025_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0026_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0027_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0027_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0027_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0027_03.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0028_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0028_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0028_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0028_03.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0029_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0030_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0030_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0031_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0032_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0032_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0032_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0033_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0034_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0034_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0035_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0036_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0037_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0038_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0039_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0039_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0040_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0041_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0042_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0043_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0044_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0044_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0045_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0045_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0045_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0046_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0046_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0047_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0048_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0048_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0048_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0048_03.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0049_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0049_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0050_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0050_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0051_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0051_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0051_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0052_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0053_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0054_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0055_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0056_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0056_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0057_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0057_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0058_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0058_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0058_02.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0059_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0059_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0060_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0060_01.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0061_00.ply filter=lfs diff=lfs merge=lfs -text
pcd/scene0062_00.ply filter=lfs diff=lfs merge=lfs -text
